<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# --- Summarize dataset ---
summary_df = pd.DataFrame({
    "Data Type": df.dtypes,
    "Total Count": len(df),
    "Non-Null Count": df.notnull().sum(),
    "Missing Values": df.isnull().sum()
})

print("Dataset Summary:\n")
print(summary_df)

Dataset Summary:

                    Data Type  Total Count  Non-Null Count  Missing Values
ResponseId              int64        65437           65437               0
MainBranch             object        65437           65437               0
Age                    object        65437           65437               0
Employment             object        65437           65437               0
RemoteWork             object        65437           54806           10631
...                       ...          ...             ...             ...
JobSatPoints_11       float64        65437           29445           35992
SurveyLength           object        65437           56182            9255
SurveyEase             object        65437           56238            9199
ConvertedCompYearly   float64        65437           23435           42002
JobSat                float64        65437           29126           36311

[114 rows x 4 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# --- Step 1: Inspect unique values ---
print("Unique values in 'Country':")
print(df["Country"].unique())

Unique values in 'Country':
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
# --- Step 2: Identify inconsistent / irrelevant entries ---
# Detect case inconsistencies (e.g. "USA" vs "Usa")
df["Country_lower"] = df["Country"].str.strip().str.lower()

# Count normalized values
country_counts = df["Country_lower"].value_counts(dropna=False).sort_values(ascending=False)
print("\nCountry values and counts:")
print(country_counts)

Country values and counts:
Country_lower
united states of america                                11095
NaN                                                      6507
germany                                                  4947
india                                                    4231
united kingdom of great britain and northern ireland     3224
                                                        ...
micronesia, federated states of...                          1
nauru                                                       1
chad                                                        1
djibouti                                                    1
solomon islands                                             1
Name: count, Length: 186, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [9]:
# --- 1. One-hot encode the 'Employment' column ---
employment_encoded = pd.get_dummies(df["Employment"], prefix="Employment")

# --- 2. Combine encoded columns back with original DataFrame ---
df_encoded = pd.concat([df, employment_encoded], axis=1)

print(df_encoded.head())
#df_encoded.to_csv("encoded_dataset.csv", index=False)

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ...  \
0                                                NaN  ...
1  Technical documentation;Blogs;Books;Written Tu...  ...
2  Technical documentation;Blogs;Books;Written Tu...  ...
3  Stack Overflow;How-to videos;Interactive tutorial  ...
4  Technical documentation;Blogs;Written Tutorial...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 225 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [11]:
# --- 1. Count missing values per column ---
missing_count = df.isnull().sum()

# --- 2. Sort descending (highest missing values first) ---
missing_sorted = missing_count.sort_values(ascending=False)

# --- 3. Display only columns that actually have missing values ---
missing_sorted = missing_sorted[missing_sorted > 0]

print("Columns with the highest number of missing values:\n")
print(missing_sorted)

Columns with the highest number of missing values:

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 110, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [13]:
import numpy as np

# --- 1. Identify numeric columns ---
numeric_cols = df.select_dtypes(include=[np.number]).columns

# --- 2. Impute missing values in numeric columns ---
for col in numeric_cols:
    if df[col].isnull().sum() > 0:  # only process columns with NaN
        # Choose either mean or median:
        impute_value = df[col].median()   # ← change to df[col].mean() if preferred
        df[col].fillna(impute_value, inplace=True)
        print(f"Filled missing values in '{col}' with {impute_value:.2f}")

print("\nMissing values in numeric columns have been imputed.")

Filled missing values in 'CompTotal' with 110000.00
Filled missing values in 'WorkExp' with 9.00
Filled missing values in 'JobSatPoints_1' with 10.00
Filled missing values in 'JobSatPoints_4' with 0.00
Filled missing values in 'JobSatPoints_5' with 0.00
Filled missing values in 'JobSatPoints_6' with 20.00
Filled missing values in 'JobSatPoints_7' with 15.00
Filled missing values in 'JobSatPoints_8' with 10.00
Filled missing values in 'JobSatPoints_9' with 5.00
Filled missing values in 'JobSatPoints_10' with 0.00
Filled missing values in 'JobSatPoints_11' with 0.00
Filled missing values in 'ConvertedCompYearly' with 65000.00
Filled missing values in 'JobSat' with 7.00

Missing values in numeric columns have been imputed.

/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)
/tmp/ipykernel_434/1563579131.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(impute_value, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [14]:
# --- 1. Identify categorical (object or string) columns ---
categorical_cols = df.select_dtypes(include=['object']).columns

# --- 2. Impute missing values with the most frequent (mode) value ---
for col in categorical_cols:
    if df[col].isnull().sum() > 0:  # only handle columns with NaN
        most_frequent = df[col].mode()[0]
        df[col].fillna(most_frequent, inplace=True)
        print(f"Filled missing values in '{col}' with most frequent value: '{most_frequent}'")

print("\nMissing values in categorical columns have been imputed.")

/tmp/ipykernel_434/3900489729.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(most_frequent, inplace=True)

Filled missing values in 'RemoteWork' with most frequent value: 'Hybrid (some remote, some in-person)'
Filled missing values in 'CodingActivities' with most frequent value: 'Hobby'
Filled missing values in 'EdLevel' with most frequent value: 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
Filled missing values in 'LearnCode' with most frequent value: 'Other online resources (e.g., videos, blogs, forum, online community)'
Filled missing values in 'LearnCodeOnline' with most frequent value: 'Technical documentation;Blogs;Written Tutorials;Stack Overflow'
Filled missing values in 'TechDoc' with most frequent value: 'API document(s) and/or SDK document(s);User guides or README files found in the source repository;Traditional public search engine'
Filled missing values in 'YearsCode' with most frequent value: '10'
Filled missing values in 'YearsCodePro' with most frequent value: '2'
Filled missing values in 'DevType' with most frequent value: 'Developer, full-stack'
Filled missing values in 'OrgSize' with most frequent value: '20 to 99 employees'
Filled missing values in 'PurchaseInfluence' with most frequent value: 'I have some influence'
Filled missing values in 'BuyNewTool' with most frequent value: 'Start a free trial;Ask developers I know/work with;Visit developer communities like Stack Overflow'
Filled missing values in 'BuildvsBuy' with most frequent value: 'Is ready-to-go but also customizable for growth and targeted use cases'
Filled missing values in 'TechEndorse' with most frequent value: 'APIs;Customization;Reputation for quality and excellence'
Filled missing values in 'Country' with most frequent value: 'United States of America'
Filled missing values in 'Currency' with most frequent value: 'EUR European Euro'
Filled missing values in 'LanguageHaveWorkedWith' with most frequent value: 'HTML/CSS;JavaScript;TypeScript'
Filled missing values in 'LanguageWantToWorkWith' with most frequent value: 'Python'
Filled missing values in 'LanguageAdmired' with most frequent value: 'Python'
Filled missing values in 'DatabaseHaveWorkedWith' with most frequent value: 'PostgreSQL'
Filled missing values in 'DatabaseWantToWorkWith' with most frequent value: 'PostgreSQL'
Filled missing values in 'DatabaseAdmired' with most frequent value: 'PostgreSQL'
Filled missing values in 'PlatformHaveWorkedWith' with most frequent value: 'Amazon Web Services (AWS)'
Filled missing values in 'PlatformWantToWorkWith' with most frequent value: 'Amazon Web Services (AWS)'
Filled missing values in 'PlatformAdmired' with most frequent value: 'Amazon Web Services (AWS)'
Filled missing values in 'WebframeHaveWorkedWith' with most frequent value: 'React'
Filled missing values in 'WebframeWantToWorkWith' with most frequent value: 'React'
Filled missing values in 'WebframeAdmired' with most frequent value: 'React'
Filled missing values in 'EmbeddedHaveWorkedWith' with most frequent value: 'Rasberry Pi'
Filled missing values in 'EmbeddedWantToWorkWith' with most frequent value: 'Rasberry Pi'
Filled missing values in 'EmbeddedAdmired' with most frequent value: 'Rasberry Pi'
Filled missing values in 'MiscTechHaveWorkedWith' with most frequent value: '.NET (5+) '
Filled missing values in 'MiscTechWantToWorkWith' with most frequent value: '.NET (5+) '
Filled missing values in 'MiscTechAdmired' with most frequent value: '.NET (5+) '
Filled missing values in 'ToolsTechHaveWorkedWith' with most frequent value: 'Docker'
Filled missing values in 'ToolsTechWantToWorkWith' with most frequent value: 'Docker'
Filled missing values in 'ToolsTechAdmired' with most frequent value: 'Docker'
Filled missing values in 'NEWCollabToolsHaveWorkedWith' with most frequent value: 'Visual Studio Code'
Filled missing values in 'NEWCollabToolsWantToWorkWith' with most frequent value: 'Visual Studio Code'
Filled missing values in 'NEWCollabToolsAdmired' with most frequent value: 'Visual Studio Code'
Filled missing values in 'OpSysPersonal use' with most frequent value: 'Windows'
Filled missing values in 'OpSysProfessional use' with most frequent value: 'Windows'
Filled missing values in 'OfficeStackAsyncHaveWorkedWith' with most frequent value: 'Jira'
Filled missing values in 'OfficeStackAsyncWantToWorkWith' with most frequent value: 'Jira'
Filled missing values in 'OfficeStackAsyncAdmired' with most frequent value: 'Jira'
Filled missing values in 'OfficeStackSyncHaveWorkedWith' with most frequent value: 'Microsoft Teams'
Filled missing values in 'OfficeStackSyncWantToWorkWith' with most frequent value: 'Microsoft Teams'
Filled missing values in 'OfficeStackSyncAdmired' with most frequent value: 'Microsoft Teams'
Filled missing values in 'AISearchDevHaveWorkedWith' with most frequent value: 'ChatGPT'
Filled missing values in 'AISearchDevWantToWorkWith' with most frequent value: 'ChatGPT'
Filled missing values in 'AISearchDevAdmired' with most frequent value: 'ChatGPT'
Filled missing values in 'NEWSOSites' with most frequent value: 'Stack Overflow;Stack Exchange'
Filled missing values in 'SOVisitFreq' with most frequent value: 'A few times per week'
Filled missing values in 'SOAccount' with most frequent value: 'Yes'
Filled missing values in 'SOPartFreq' with most frequent value: 'Less than once per month or monthly'
Filled missing values in 'SOHow' with most frequent value: 'Quickly finding code solutions;Finding reliable guidance from community-vetted answers'
Filled missing values in 'SOComm' with most frequent value: 'No, not really'
Filled missing values in 'AISelect' with most frequent value: 'Yes'
Filled missing values in 'AISent' with most frequent value: 'Favorable'
Filled missing values in 'AIBen' with most frequent value: 'Increase productivity;Greater efficiency;Speed up learning'
Filled missing values in 'AIAcc' with most frequent value: 'Somewhat trust'
Filled missing values in 'AIComplex' with most frequent value: 'Good, but not great at handling complex tasks'
Filled missing values in 'AIToolCurrently Using' with most frequent value: 'Writing code;Debugging and getting help;Search for answers'
Filled missing values in 'AIToolInterested in Using' with most frequent value: 'Learning about a codebase'
Filled missing values in 'AIToolNot interested in Using' with most frequent value: 'Project planning'
Filled missing values in 'AINextMuch more integrated' with most frequent value: 'Search for answers'
Filled missing values in 'AINextNo change' with most frequent value: 'Writing code'
Filled missing values in 'AINextMore integrated' with most frequent value: 'Writing code'
Filled missing values in 'AINextLess integrated' with most frequent value: 'Writing code'
Filled missing values in 'AINextMuch less integrated' with most frequent value: 'Writing code'
Filled missing values in 'AIThreat' with most frequent value: 'No'
Filled missing values in 'AIEthics' with most frequent value: 'Circulating misinformation or disinformation;Missing or incorrect attribution for sources of data;Biased results that do not represent diverse viewpoints'
Filled missing values in 'AIChallenges' with most frequent value: 'Don’t trust the output or answers;AI tools lack context of codebase,  internal architecture, and/or company knowledge'
Filled missing values in 'TBranch' with most frequent value: 'Yes'
Filled missing values in 'ICorPM' with most frequent value: 'Individual contributor'
Filled missing values in 'Knowledge_1' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_2' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_3' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_4' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_5' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_6' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_7' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_8' with most frequent value: 'Agree'
Filled missing values in 'Knowledge_9' with most frequent value: 'Agree'
Filled missing values in 'Frequency_1' with most frequent value: '1-2 times a week'
Filled missing values in 'Frequency_2' with most frequent value: '1-2 times a week'
Filled missing values in 'Frequency_3' with most frequent value: '1-2 times a week'
Filled missing values in 'TimeSearching' with most frequent value: '30-60 minutes a day'
Filled missing values in 'TimeAnswering' with most frequent value: '15-30 minutes a day'
Filled missing values in 'Frustration' with most frequent value: 'None of these'
Filled missing values in 'ProfessionalTech' with most frequent value: 'None of these'
Filled missing values in 'ProfessionalCloud' with most frequent value: 'Hybrid (on-prem and cloud)'
Filled missing values in 'ProfessionalQuestion' with most frequent value: 'Traditional public search engine'
Filled missing values in 'Industry' with most frequent value: 'Software Development'
Filled missing values in 'SurveyLength' with most frequent value: 'Appropriate in length'
Filled missing values in 'SurveyEase' with most frequent value: 'Easy'
Filled missing values in 'Country_lower' with most frequent value: 'united states of america'

Missing values in categorical columns have been imputed.

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [15]:
# --- Apply Min-Max Scaling manually using pandas ---
min_val = df["ConvertedCompYearly"].min()
max_val = df["ConvertedCompYearly"].max()

df["ConvertedCompYearly_Scaled"] = (df["ConvertedCompYearly"] - min_val) / (max_val - min_val)

print(df[["ConvertedCompYearly", "ConvertedCompYearly_Scaled"]].head())

   ConvertedCompYearly  ConvertedCompYearly_Scaled
0              65000.0                    0.003998
1              65000.0                    0.003998
2              65000.0                    0.003998
3              65000.0                    0.003998
4              65000.0                    0.003998

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [16]:
# --- Handle missing or non-positive values first ---
df = df.copy()
df["ConvertedCompYearly"] = pd.to_numeric(df["ConvertedCompYearly"], errors="coerce")

# Drop or replace non-positive values (since log cannot handle 0 or negative)
df = df[df["ConvertedCompYearly"] > 0]

# --- Apply log transformation ---
df["ConvertedCompYearly_Log"] = np.log(df["ConvertedCompYearly"])

# --- Display before/after comparison ---
print(df[["ConvertedCompYearly", "ConvertedCompYearly_Log"]].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082143
1              65000.0                11.082143
2              65000.0                11.082143
3              65000.0                11.082143
4              65000.0                11.082143

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [21]:
# Ensure YearsCodePro is numeric (handles strings like "Less than 1 year")
df["YearsCodePro"] = pd.to_numeric(df["YearsCodePro"], errors="coerce")

# --- Create ExperienceLevel column based on numeric ranges ---
df["ExperienceLevel"] = pd.cut(
    df["YearsCodePro"],
    bins=[-np.inf, 2, 5, 10, np.inf],   # define boundaries
    labels=["Beginner", "Intermediate", "Experienced", "Expert"]
)

print(df[["YearsCodePro", "ExperienceLevel"]].head(10))

   YearsCodePro ExperienceLevel
0           2.0        Beginner
1          17.0          Expert
2          27.0          Expert
3           2.0        Beginner
4           2.0        Beginner
5           2.0        Beginner
6           7.0     Experienced
7           2.0        Beginner
8           2.0        Beginner
9          11.0          Expert

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.